<a href="https://colab.research.google.com/github/Seo-jiyun/BCP-Class-2022/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num1 = 13
num2 = 3.14
num3 = -5
num4 = 3+6j
print(type(num1))
print(type(num2))
print(type(num3))
print(type(num4))

<class 'int'>
<class 'float'>
<class 'int'>
<class 'complex'>

In [ ]:
string = 'python'
print(type(string))

<class 'str'>

In [ ]:
n= 17
id(n)
n = "seventeen"
id(n)

140447934233456

In [ ]:
x=10
y=x
print( x is y)
print(id(x))
print(id(y))
y=5

print(x)
print(y)
print(id(x))
print(id(y))

True
93910273248032
93910273248032
10
5
93910273248032
93910273247872

In [ ]:
x=[2,3,4,1,1,10,2]
y=x
print( x is y)
print(id(x))
print(id(y))

y[2] =15

True
140447797355856
140447797355856

In [ ]:
x= [2,3,4,1,10,2]
y=list(x)
y[2]=15

print(x)
print(y)

[2, 3, 4, 1, 10, 2]
[2, 3, 15, 1, 10, 2]

In [ ]:
A, B = map(int, input().split())
print(A+B)

1 2
3

In [ ]:
x= int(input())
y= int(input())

print(x+y)
print(x-y)

2
4
6
-2

In [ ]:
num1 =int(input())
num2 =int(input())
num3 =int(input())
num4 =int(input())
num5 =int(input())
feed =int(input())
print(f'{int((num2*3000+num3*3000+num4*12000+num5*4000+feed*4000)/num1)}원')

10
2
3
4
5
5
10300원